.link {
    float: right;
    color: black;
    font-size: 13.5px;
    font-weight: 500;
    text-decoration: none;
    margin-top: 15px;
    font-family: Calibri;
}

#link_images{
    margin-right: 110px;
    margin-left: 20px;
}

.link:hover{
    text-decoration: underline;
}

div {
    text-align: center;
    font-family: Roboto;
}

div img {
    margin-left: 230px;
    margin-top: 145px;
    margin-bottom: 25px;
    width: 23%;
}

.searchbar {
    height: 45px;
    width: 550px;
    border-radius: 28px;
    border: 1px solid #E0E0E0;
    background-image: url(search_icon.jpg), url(microphone.jpg);
    padding-left: 45px;
    background-repeat: no-repeat, no-repeat;
    background-position-x: 15px, 555px;
    background-position-y: center, center;
    background-size: 20px, 20px;
    font-size: medium;
    font-weight: normal;
    outline: none;
}

.button {
    height: 40px;
    border-radius: 6px;
    border-color: white;
    border: 0px solid #E0E0E0;
    color: dimgrey;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

.button:hover {
    border: 1px solid darkgrey;
}

#button1{
    width:120px;
}

#button2 {
    width: 140px;
}
